<div class="well navtitle">
    <h2 class="modal-title">Навигация</h2>
    <ul class="nav list-group">
        <li class="">
            <a href="{{ path('admin_content_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Блоки контента
            </a>
        </li>
        <li class="">
            <a href="{{ path('admin_publication_list') }}">
                <i class="glyphicon glyphicon-align-justify"></i>
                Публикации
            </a>
        </li>

    </ul>
</div>